@import url('components/navbar.css');
@import url('components/portfolio.css');
@import url('components/heatmap.css');
@import url('components/about.css');
@import url('components/skills.css');
@import url('components/contact.css');
@import url('components/footer.css');



@font-face 
{
    font-family: 'Montserrat', sans-serif;
    src: url('Montserrat-Regular.ttf');
    font-family: 'Tribute', roman;
    src: url('Tribute-Roman.ttf');
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h2 {
  width: 100%;
  padding: 120px 0 60px 0;
  text-align: center;
  letter-spacing: 1rem;
}
