.box-about {
  width: 1000px;
  display: flex;
  margin: auto;
}

.juliette-photo {
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

#about p {
  text-align: justify;
  margin-bottom: 2rem;
}

#about a {
  text-decoration: none;
  padding: 10px;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  opacity: 0.7;
}

#about a:hover {
  text-decoration: none;
  color: black;
  opacity: 1;
  transition: .4s ease;
}

@media screen and (max-width: 1000px) {
  .box-about {  
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .juliette-photo {
    margin-right: 0;
    margin-bottom: 40px;
  }

  #about p {
    width: 100%;
  }
}

@media screen and (orientation:portrait) {
  .box-about {  
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .juliette-photo {
    margin-right: 0;
    margin-bottom: 40px;
  }

  #about p {
    width: 100%;
  }
}
