#navbar-wrapper {
  position: fixed;
  z-index: 1;
  opacity: 1;
  height: 50px;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-name {
  display: flex;
  margin-left: 50px;
}

.navbar-name a {
  text-decoration: none;
  color: white;
  font-size: small;
  opacity: .8;
}

.navbar-name a:hover {
  transition: 0.2s ease;
  opacity: 1;
}

.navbar-name img {
  height: 60px;
  padding: 10px 0;
}

.navbar-list {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  position: fixed;
  right: 0;
}

.navbar-list ul {
  list-style-type: none;
  display: flex;
  font-size: small;
  margin: 0px;
  padding-right: 50px;
}

.navbar-list a {
  text-decoration: none;
  color: white;
  opacity: .8;
}

#bar a {
  text-decoration: none;
  color: white;
  opacity: .8;
}

.navbar-list a:hover {
  transition: 0.2s ease;
  opacity: 1;
}

.navbar-list li {
  margin-right: 80px;
}

.burger {
  display: none;
  margin-right: 60px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  opacity: .8;
  margin: 5px;
  border-radius: 1px;
  transition: all 0.3s ease;
}

.banner-img {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/P1240500_BW.jpg");
  object-fit: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  margin: auto;
}

.banner-text {
  color: white;
  letter-spacing: 0.7rem;
  opacity: .8;
  text-align: center;
}
.banner-text h2 {
  margin: 200px 0 10px 0;
}

.arrow-container {
  position: relative;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes downarrow {
  0% { transform: translateY(0); opacity: 0.4 }
  100% { transform: translateY(0.4em) }
}

.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin:12em auto 0 auto;
  opacity:1;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
  font-size: 0.5rem;
}

.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #ffffff;
  opacity: .8;
}

#scrollhint {
  position: absolute;
  top: -170px;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  
  .navbar-list {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navbar-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    position: absolute;
    padding: 0;
  }

  .navbar-list li {
    margin: 0 0 50px 0;
  }

  #bar {
    display: none;
  }

  .burger {
    display: block;
  }

  .banner-text h2 {
    margin: 150px 0 10px 0;
  }

}

@media screen and (max-width: 700px) {
  .banner-text h2 {
    margin: 150px 0 10px 0;
  }

  .banner-text-box {
    padding-top: 40px;
  }
}


.nav-active {
  transform: translateX(0%)
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
