#portfolio ul {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

#portfolio li {
  list-style-type: none;
  width: 33%;
  margin-top: 10px;
}
#portfolio a {
  position: relative;
}

#portfolio a:hover {
  transition: 0.8s ease;
  text-decoration: none;
  color: blueviolet;
  opacity: 0.7;
}

#portfolio a:hover > .translate-effect {
  transition: 0.8s ease;
  display: inline;
  text-align: center;
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#portfolio a:hover > .project-img {
  filter: brightness(30%);
}

.translate-effect {
  display: none;
}

h3 {
  letter-spacing: 1rem;
}

@media screen and (max-width: 1000px) {
  #portfolio li {
    width: 49%;
  }
}

@media screen and (max-width: 600px) {
  #portfolio li {
    width: 100%;
  }

  #portfolio a > .translate-effect {
    transition: 0.8s ease;
    display: inline;
    text-align: center;
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
  }

  #portfolio a > .project-img {
    filter: brightness(30%);
  }
}
