#portfolio ul {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

#portfolio li {
  list-style-type: none;
  width: 33%;
  margin-top: 10px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

@media screen and (max-width: 1000px) {
  #portfolio li {  
    width: 49%;
  }
}

@media screen and (max-width: 600px) {
  #portfolio li {  
    width: 100%;
  }
}
