#skills ul {
  width: 60%;
  margin: auto;
  text-align: center;
}

#skills ul li {
  display: inline-block;
  text-decoration: none;
  padding: 2px 10px;
  color:black;
  border: 1px solid #0a6dcf;
  border-radius: 16px;
  margin-bottom: 10px;
  opacity: .7;
}

#skills ul li:hover {
  text-decoration: none;
  opacity: 1;
  transition: .4s ease;
}